* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define o fundo padrão do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(135deg, #2a1e2f, #4b2c50);
    color:#000;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

a{
    text-decoration: none;   
}

/* Cabeçalho principal */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 2rem 2rem 0rem 0rem;
}

.header i {
    font-size: 1.5rem;
    cursor: pointer;
    color: #2a1e2f;
}

/* Remove marcadores de lista */
ul{
    list-style-type: none;
}

/* Conteúdo principal da página index*/
.content {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
}

/* Cores de fundo para tipos de Pokémon */
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


/* Estilo para telas maiores */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 2rem;
    }
}